body {
  background-color: rgb(61, 96, 113);
}
* {
	transition: .5s;
	animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

input {
  margin: 20px;
  border: 0px solid transparent;
  outline: none;
  padding: 5px;
  border-radius: 5px;
}

.container{
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 10px;
}

.centerbox{
  display: inline-block;
}

.box{
  width: 300px;
  height: auto;
  background-color: rgb(73, 105, 111);
  border: 1px solid rgb(124, 140, 143);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  text-align: left;
  display: inline-block;
  transition: .5s;
}

.box:hover{
  background-color: rgb(97, 142, 150);
  transition: 1s;
  border: 1px solid rgb(97, 142, 150);
}

.new-name{
  color: rgb(186, 170, 196);
}
.icon{
  width: 60px;
  height: 60px;
  margin-right: 20px;
  display: inline-block;
  float: left;
}
